@import url(http://necolas.github.io/normalize.css/latest/normalize.css);

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.aizu-list ul {
  padding: 1vh;
  margin: 0;
}
.aizu-list ul li {
  display: flex;
  height: 22vh;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 2vh;
  padding: 0;
  border-radius: 5vh;
  box-shadow: 0 0 2vh #bbb;
}
.aizu-list ul li:active {
  background-color: #666;
}
.aizu-list ul li:nth-child(1) {
  background-color: #AA55FF;
}
.aizu-list ul li:nth-child(2) {
  background-color: #E8804F;
}
.aizu-list ul li:nth-child(3) {
  background-color: #FBFF63;
}
.aizu-list ul li:nth-child(4) {
  background-color: #63E8DD;
}
.aizu-list ul li span {
  font-size: 10vh;
  color: #3c3c3c;
}
